.primary-menu-desktop {
    visibility: hidden;
    @include respond-to(lg) {
        visibility: visible;
    }
}

.mobile-primary-nav {

    @include respond-to(lg) {
        visibility: hidden;
    }

    #mobile-primary-nav {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 1001;
    
        @include respond-to(lg) {
            visibility: hidden;
        }
    }
    
    .primary-menu-mobile {
        position: absolute;
        height: 100%;
        width: 300px;
        z-index:1000;
        padding-top: 60px;
        visibility: hidden;
        background: $dark-gray;
        opacity: 0.9;
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        overflow: hidden;

        @include respond-to(lg) {
            display: none;
        }

        .latte-push-menu-mobile {
            list-style-type: none;
            padding-left: 0;
            text-align: center;
            li {
                position: relative;
                padding: 20px 0 20px 0;
                padding-left: 35%;
                font-size: 25px;
                margin: 0;
                line-height: 1em;
                color: #949494;
                border-style: solid;
                border-width: 0 0 1px 0;
                text-align: left;
                
                a {
                    color: $black;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

.mobile-nav-mout {
    transform: translate3d(300px,0,0);
}



