.pmenu {
    position: absolute;
    right: 10%;
    background: transparent;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
   
  }

  .latte-push-menu{
    float: right;
    li {
      padding: 20px 40px 10px;
      display: inline-block;
      &:hover {
        border-bottom: 3px solid $red;
        opacity: 0.8;
      }
    }
  }

  .pmenu a {
    display: block;
    color: $white;
    font-size: 15px;
    font-weight: 300;
  }

 
