.parllax-text-container {
  position: relative;
  .parllax-text-title {
    color: $red;
  }
  .parllax-text-name {
    position: absolute;
    left: -10%;
    @include respond-to(sm) {
      font-size: 40px;
    }
    @include respond-to(md) {
      font-size: 60px;
    }
  }

  .parllax-text-content {
    position: relative;
    @include respond-to(sm) {
      top: 60px;
    }
    @include respond-to(md) {
      top: 100px;
    }
  }
}
