.parllax-text-container {
  position: relative;
  .parllax-text-title {
    color: $red;
  }
  .parllax-text-name {
    @include respond-to(sm) {
      position: absolute;
      left: -10%;
      font-size: 40px;
    }
    @include respond-to(md) {
      font-size: 60px;
    }
  }

  .parllax-text-content {
    @include respond-to(sm) {
      position: relative;
      top: 60px;
    }
    @include respond-to(md) {
      top: 100px;
    }
  }
}
