.parllax-image-text {
  height: 700px;
  background: $white;

  @include respond-to(md) {
    bottom: 650px;
  }
}

.parallax-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .section-parallax--image {
    bottom: 60px;

    @include respond-to(md) {
      bottom: 0;
    }
  }

  .multi-parllax-images {
    display: block;
    @extend .textCenter;

    .multi-parllax-image-main {
      z-index: 3;
      height: 165px;

      @include respond-to(md) {
        height: 300px;
      }
    }

    .multi-parllax-image-one {
      position: absolute;
      top: 0px;
      left: 5%;
      width: auto;
      z-index: 3;
      height: 120px;

      @include respond-to(md) {
        height: 190px;
      }
    }
    .multi-parllax-image-two {
      position: absolute;
      bottom: -10px;
      right: 5%;
      width: auto;
      z-index: 3;
      height: 120px;

      @include respond-to(md) {
        height: 190px;
      }
    }
  }
}
