.skills-section {
    width: 100%;
    background: rgba(34, 36, 34, 1); 
    min-height: 750px;
    color: $white;



    .skills-header-parallax {
        @extend .section--header;
        font-weight: normal;
        padding: $vertical--space-lg 0;
    }

    .circular-bar-opacity {
        opacity: 0;
        animation-name: progressBarFadein;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    @keyframes progressBarFadein {
        0%   { opacity: 0; }
        100% { opacity: .8; }
    }

}