.skills-section {
  width: 100%;
  background: rgba(34, 36, 34, 1);
  color: $white;

  
  .circular-bar-opacity {
    opacity: 0;
    animation-name: progressBarFadein;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes progressBarFadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }

  .linebar-skills-container {
    margin-bottom: 15px;
    p{
      margin-bottom: 10px;
    }
    @include respond-to(lg) {
      margin-bottom: 30px;
    }
  }

  .skills-items {
    padding: $vertical--space-sm 0;
    @include respond-to(md) {
      padding: 0 0 $vertical--space-md 0;
    }
   

    .skills-item-container:nth-child(2){
      margin-top: 20px;
    }
    @include respond-to(md) {
      .skills-item-container:nth-child(1){
        margin-top: 15px;
      }
      .skills-item-container:nth-child(2){
        margin-top: 0px;
      }
    }
    @include respond-to(lg) {
      .skills-item-container:nth-child(2){
        margin-top: 30px;
      }
    }
  }
}