.skills {
    .skillbar-title {
        background: $black !important;
        span {
            display: inline-block !important;
            position: relative;
            img {
                max-width: 100%;
                max-height: 71%;
            }
            &.skill-logo {
                top:-3px;
                float: left;
                padding: 0 0 0 5px;
            }
        }
    }
}