.section--headers {
    font-size: 50px;
    font-weight: 400px;
}

.section--subheader {
    font-size: 25px;
    font-weight: 400px; 
}

.section--text-bold {
    font-size: 15px;
    font-weight: 500;
}