
//spacing

$base--vertical-space: 24px;

$vertical--space-sm: calc(1.25 * #{$base--vertical-space});
$vertical--space-md: calc(1.50 * #{$base--vertical-space});
$vertical--space-lg: calc(1.75 * #{$base--vertical-space});


//body base font

$base--font-size: 1em;

@include respond-to(sm) {
    body {
        font-size: calc(1.10 * #{$base--font-size});
    }  
}

@include respond-to(md) {
    body {
        font-size: calc(1.20 * #{$base--font-size});
    }
}

@include respond-to(lg) {
    body {
        font-size: calc(1.25 * #{$base--font-size});
    }   
}



