.circle {
  font-size: 45px;
  margin-top: -33px;
  &:before,
  &:after {
    position: relative;
    content: "";
    display: inline-block;
    width: 143px;
    margin: 0 6px;
    top: -1px;
    border-top: 2px solid $white;
    width: calc(100% - 57%);
    @include respond-to(md) {
      width: 200px;
    }
    @include respond-to(lg) {
      width: 300px;
    }
  }
}

.parallax-video-intro {
  position: relative;
  min-height: 667px;
  background: rgba(0, 0, 0, 0.7);

  @include respond-to(md) {
    min-height: 800px;
  }
  .hero-tag {
    color: $white;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 43%;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 25px);
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 17px;
    }

    @include respond-to(sm) {
      width: 500px;
      h1 {
        font-size: 35px;
      }
      h2 {
        font-size: 20px;
      }
    }

    @include respond-to(md) {
      
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 25px;
      }
    }

    @include respond-to(lg) {
      width: 900px;
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 27px;
      }
    }


   
  }
  video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .intro-arrow {
    position: absolute;
    left: 50%;
    padding-top: 50px;
    transform: translate(-50%);
    bottom: 24px;
    margin: auto;
    .arrow {
      &:before {
        display: inline-block;
        font-size: 50px;
        color: $white;
        font-family: FontAwesome;
        content: "\f107";
      }
      &.noBefore::before {
        display: none;
      }
    }

    span {
      display: none;
      position: relative;
      color: $white;
      font-size: 12px;
      left: -2px;
      top: -12px;
    }
  }
}
